{% render 'partials/head.liquid' %}

<article class="page">

  <header class="hero">
    <figure class="hero__media">
      <img class="hero__img" src="{{ person.avatar }}" alt="{{ person.name }}">
    </figure>

    <h1 class="hero__name">{{ person.name }}</h1>
    <p class="hero__badge">{{ person.custom.fdndstudent }}</p>
  </header>

  <main class="content">

    <details class="item" open>
      <summary class="item__btn">
        <h2 class="item__title">Wie ben ik</h2>
      </summary>
      <section class="item__panel">
        <p class="item__text">
          {{ person.bio }}
        </p>
      </section>
    </details>

    <details class="item">
      <summary class="item__btn">
        <h2 class="item__title">Hobby’s</h2>
      </summary>
      <section class="item__panel">
        <ul class="tags">
          <li class="tag">{{ person.custom.hobby1 }}</li>
          <li class="tag">{{ person.custom.hobby2 }}</li>
          <li class="tag">{{ person.custom.hobby3 }}</li>
        </ul>
      </section>
    </details>

    <details class="item">
      <summary class="item__btn">
        <h2 class="item__title">Skills</h2>
      </summary>
      <section class="item__panel">
        <ul class="tags">
          <li class="tag">{{ person.custom.skill1 }}</li>
          <li class="tag">{{ person.custom.skill2 }}</li>
          <li class="tag">{{ person.custom.skill3 }}</li>
        </ul>
      </section>
    </details>

  </main>

  <nav class="buttons">
    <a class="buttons__btn" href="https://github.com/{{ person.github_handle }}" target="_blank" rel="noopener">GitHub</a>
    <a class="buttons__btn" href="{{ person.website }}" target="_blank" rel="noopener">Website</a>
  </nav>

  <footer class="footer"></footer>

</article>

{% render 'partials/foot.liquid' %}
